.sidebar {
    width:250px;
    background:var(--sidebar);
    color:white;
    display:flex;
    flex-direction:column;
  }
  
  .nav-item {
    padding:10px;
    cursor:pointer;
    text-align:center;
  }
  
  .nav-item.active {
    background:var(--gold);
    color:black;
  }