<div class="sidebar">

  <div class="logo">
    <span class="hc">HC</span>
    <span class="store">STORE</span>
  </div>

  <nav>

    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      DASHBOARD
    </a>

    <a routerLink="/produtos" routerLinkActive="active">
      TODOS OS PRODUTOS
    </a>

    <a routerLink="/pedidos" routerLinkActive="active">
      LISTA DE PEDIDOS
    </a>

    <a routerLink="/usuarios" routerLinkActive="active">
      USUARIOS
    </a>

    <a routerLink="/adicionar-produto" routerLinkActive="active">
      ADICIONAR PRODUTO
    </a>

  </nav>

</div>