.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background: #111;
    color: white;
  
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
  }
  
  /* Título */
  .sidebar h2 {
    margin-bottom: 30px;
  }
  
  /* LINKS */
  .sidebar a {
    display: block;
    color: white;
    text-decoration: none;
  
    padding: 12px 10px;
    margin-bottom: 12px; /* 🔥 ESPAÇO ENTRE ITENS */
  
    border-radius: 8px;
    transition: 0.2s;
  }
  
  /* Hover */
  .sidebar a:hover {
    background: #1f1f1f;
    color: #25df14;
  }
  
  /* Ativo (rota atual) */
  .sidebar a.active {
    background: #25df14;
    color: black;
  }

  .sidebar a {
    display: flex;
    align-items: center;
    gap: 10px;
  
    padding: 12px;
    margin-bottom: 14px;
  
    border-radius: 8px;
  }