<div class="page-header">
    <div>
      <div class="page-title">DASHBOARD</div>
    </div>
  </div>
  
  <div class="dash-top">
  
    <div class="card">
      <div class="card-header">
        <div class="card-title">Gráfico Geral</div>
      </div>
      <div class="card-body">
        <div class="donut-row"></div>
      </div>
    </div>
  
    <div class="card">
      <div class="card-header">
        <div class="card-title">Mais Vendidos</div>
      </div>
      <div></div>
      <button class="relatorio-btn" routerLink="/pedidos">RELATÓRIO</button>
    </div>
  
  </div>